.container {
    width: 100%;
    padding: 90px 65px;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-100-color);
    gap: 80px;
    border-radius: var(--border-radius);
}

.text {
    color: var(--gray-500-color);
    text-align: center;
    padding: 0 120px;
    line-height: 1.6em;
}