.button {
    min-width: 100px;
    padding: 16px 18px;
    color: var(--gray-100-color);
    background-color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 90rem;
    font-size: 0.625rem;
    letter-spacing: .1rem;
    font-weight: 1000;
    cursor: pointer;
    transition: background-color var(--transition-duration);
}

.button:hover {
    background-color: color-mix(in srgb, var(--primary-color) 80%, transparent);
}

.button.big {
    padding: 25px 58px;
    font-size: 1.125rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

.button.outline {
    color: var(--gray-400-color);
    background-color: transparent;
    border-color: var(--gray-200-color);
    transition: color var(--transition-duration), background-color var(--transition-duration), border-color var(--transition-duration);
}

.button.outline:hover {
    color: var(--gray-100-color);
    background-color: var(--primary-color);
    border-color: transparent;
    transition: color var(--transition-duration), background-color var(--transition-duration), border-color 0s;
}
